$color-dark: #2b292d;
$color-grey: #d5d4d5;
$color-light: #f4f5f7;
$color-white: #fff;

$color-dark-blue: #3141c5;
$color-deep-blue: #3040c4;
$color-light-blue: #00a1c612;

// TEXT COLOR

$text-color-light-grey: #2b292d99;
$text-color-white: #fff;
$text-color-deep-blue: #3040c4;
$text-color-dark: #2b292d;
$text-color-green: #009b4d;
$text-color-blue: #3142c6;

// BORDER COLOR

$border-color: #2b292d33;
$border-color-blue: #3142c6;
